* {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.left {
  border: 1px solid royalblue;
  width: 60%;
}
.right {
  width: 40%;
  border: 1px solid royalblue;
}
body {
  background-color: #f0f2f5;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}
.textbox {
  display: flex;
  height: 100%;
}

h1 {
  font-size: 75px;
  color: #1877f2;
  font-weight: bold;
}
h2 {
  font-weight: normal;
  font-size: 25px;
  position: absolute;
  top: 100px;
  margin-bottom: 20px;
}

#lemon {
  display: flex;
  width: 50%;
  flex-direction: column;
  position: relative;
  left: 20vw;
  top: 20vh;
  font-size: 20px;
  font-weight: light;
}

#login {
  font-size: 40px;
  font-weight: normal;
  line-height: 32px;
  padding-right: 20px;
  margin: 20px 0 5px 0;
  box-shadow: 6px 6px 5px lightgrey;
  position: relative;
  left: 10vw;
  background-color: #ffffff;
  height: 350px;
  border-radius: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  top: 18vh;
  justify-content: flex-start;
  padding: 10 10 20 10;
  align-items: center;
}
#login > a {
  margin: 18 0;
  text-decoration: none;
  font-size: 15px;
  color: #1877f2;
}
#login > a:hover {
  text-decoration: underline;
  cursor: pointer;
}
hr {
  width: 95%;
  height: 0.1%;
  background-color: rgb(194, 193, 193);
  border: none;
}
#login > input[type="text"],
input[type="email"] {
  height: 15%;
  margin: 8px 0;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
  width: 95%;
  border: 1.5px SOLID #eeeff0;
}
#login > input[type="email"] {
  margin-bottom: 3px;
  margin-top: 10px;
}
#login > input[type="email"],
focus,
input[type="password"]:focus {
  outline: none;
  border: 1.5px solid blue;
  box-shadow: 0 0 5px #719ece;
  caret-color: blue;
}
#login > input[type="text"],
input[type="password"] {
  height: 15%;
  margin: 8px 0;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
  width: 95%;
  border: 1.5px SOLID #eeeff0;
}
#login > input[type="password"] {
  margin-bottom: 12px;
}
#login > input[type="text"],
focus,
input[type="password"]:focus {
  outline: none;
  border: 1.5px solid blue;
  box-shadow: 0 0 5px #719ece;
  caret-color: blue;
}

#blue-button {
  font-size: 20px;
  font-weight: bold;
  background-color: #1877f2;
  width: 95%;
  border-radius: 5px;
  border: none;
  height: 50px;
  color: white;
  cursor: pointer;
}
#blue-button:hover {
  background-color: #166fe5;
  cursor: pointer;
}
#green-button {
  background-color: #42b72a;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  height: 50px;
  width: 60%;

  margin: 40px 0 0;
}
#green-button:hover {
  background: color #36a420;
  cursor: pointer;
}
p {
  font-size: 15px;
  position: absolute;
  bottom: -55px;
}
footer {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 98vw;
  padding: 20px;
  color: #a6a8aa;
  font-size: 12px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  word-spacing: 12px;
  line-height: 20px;
}
footer > a {
  text-decoration: none;
  color: #a6a8aa;
}
@media screen and (max-width: 470px) {
  #h1 {
    width: 100%;
    font-size: 18px;
  }
  #h2 {
    width: 100%;
    font-size: 18px;
  }
  footer {
    position: relative;
  }
  #textbox {
    display: block;
    padding: 40px;
  }
  #login {
    width: 100%;
    top: 0;
    left: 0;
  }
  #lemon {
    width: 100%;
    top: 0;
    left: 0;
    padding: 12px;
    font-size: 16px;
    height: 200px;
  }
}
@media screen and (min-width: 471px) and(max-width:1000px) {
  #lemon {
    background-color: #719ece;
  }
}
