* {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.left {
  border: 1px solid royalblue;
  width: 60%;
}
.right {
  width: 40%;
  border: 1px solid royalblue;
}
body {
  background-color: #f0f2f5;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}
.textbox {
  display: flex;
  height: 100%;
}

h1 {
  font-size: 75px;
  color: #1877f2;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 700px;
  font-weight: bold;
}
h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 28px;
  margin-right: 700px;
}

.container {
  display: flex;
  width: 400px;
  margin-top: -194px;
  margin-right: 160px;
  float: right;
  border-radius: 12px;
  background-color: white;
  height: 355px;
  text-align: center;
}

.form {
  margin-top: 10px;
  margin-left: -10px;
  border-radius: 8px;
  margin-right: -10px;
  padding: 17px;
  width: 332px;
}
.form input {
  float: right;
  background-color: white;
  margin-top: 12px;
  padding: 20px;
}

.button {
  font-size: 18px;
  margin-top: 15px;
  background-color: #1877f2;
  padding: 16px;
  width: 100%;
  border-radius: 8px;
  color: white;
  font-family: sans-serif;
}
footer {
  background-color: white;
  font-size: 16px;
  color: black;
  margin-top: 10px;
}
footer a {
  color: black;
  background-color: white;
  font-weight: bold;
}
.btn {
  padding: 7px;
  margin-top: 15px;
  background-color: white;
  margin-left: 60px;
  margin-right: 60px;
}
.btn button {
  background-color: #1b9c24;
}
