h1 {
  color: #0099ff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1000px;
}
